webservice/src/org/daisy/pipeline/webservice/resources/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.daisy.org/ns/pipeline/data" xmlns:data="http://www.daisy.org/ns/pipeline/data">
  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data:job"/>
        <xs:element ref="data:data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="job">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="data" type="xs:string"/>
</xs:schema>
