dtbook2zedai/dtbook2zedai/schema/z3986a-book-0.8/resources/z3986a-book.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="document">
   <mode name="document">
      <namespace ns="http://www.daisy.org/ns/z3986/authoring/">
         <validate schema="z3986a-book-single.rng" useMode="addNS"/>
         <validate schema="z3986a-book.sch" useMode="addNS"/>
      </namespace>
   </mode>
   <mode name="addNS">
      <anyNamespace>
         <attach/>
      </anyNamespace>
   </mode>
</rules>